doctype html
html
  head
    title Portal rezerwacji
  body
    h1 Witam w portalu rezerwacji
    p
      a(href='/items') Pokaż przedmioty
    p
      a(href='/reservations') Pokaż wszystkie rezerwacje
    p
      a(href='/reservations/new') Dokonaj rezerwacji
